@font-face {
  font-family: Gumela;
  src: url("./assets/fonts/Gumela\ Regular.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cinzel:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  letter-spacing: 1px;
  font-family: "Gumela";
  scroll-behavior: smooth;
  /* font-family: Cabin Sketch, cursive; */
}

.scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome and Safari */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide scrollbar thumb in Chrome and Safari */
}

.scroll::-webkit-scrollbar-track {
  background-color: transparent; /* Hide scrollbar track in Chrome and Safari */
}

/* Hide scrollbar in Firefox */
.scroll.dark {
  scrollbar-color: transparent transparent; /* Thumb color and track color (in this case, both transparent) */
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
  .boy {
    width: 5rem;
    height: 5rem;
  }
}

.button-54-white,
.button-54 {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 1em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active,
.button-54-white:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button-54-white {
  color: aliceblue;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.login {
  position: relative;
  background-image: url("./assets/images/st-bg-sm.png");
  /* background-image: url("./assets/images/bg.png"); */

  /* background-image: url("./assets/colors/blue.png"); */

  background-attachment: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg {
  background-image: url("./assets/images/bg.png");

  /* background-image: url("./assets/colors/blue.png"); */

  background-attachment: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
} */
.review {
  background-image: url("./assets/images/review-bg-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chatbg {
  background-image: url("./assets/images/chat-sm.png");
  /* background-image: url("./assets/images/chat-sm.png"); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews-bg {
  /* background-image: url("./assets/images/reviews-bg.png"); */
  background-color: #48454e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.review-card {
  background-image: url("./assets/images/review.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

@media (min-width: 992px) {
  .login {
    background-image: url("./assets/images/st-bg-lg.png");
  }
  .review {
    background-image: url("./assets/images/review-bg-md.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .chatbg {
    background-image: url("./assets/images/chatbg-lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotate360 2s linear infinite;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-2 {
  background-image: url("./assets/images/gang/manoj.jpg");
}
.card-3 {
  background-image: url("./assets/images/gang/heymanth.jpg");
}
.card-4 {
  background-image: url("./assets/images/gang/george.jpg");
}
.card-5 {
  background-image: url("./assets/images/gang/cheni.jpg");
}
.card-6 {
  background-image: url("./assets/images/gang/madhan.jpg");
}
.card-7 {
  background-image: url("./assets/images/gang/sanjaykumar.jpg");
}
.card-8 {
  background-image: url("./assets/images/gang/sathish.jpg");
}
.card-9 {
  background-image: url("./assets/images/gang/sathishkumar.jpg");
}
.card-10 {
  background-image: url("./assets/images/gang/satya.jpg");
}
.card-11 {
  background-image: url("./assets/images/gang/sharvesh.jpg");
}
.card-12 {
  background-image: url("./assets/images/gang/veer.jpg");
}
.card-13 {
  background-image: url("./assets/images/gang/vijayaraja.jpg");
}
.card-14 {
  background-image: url("./assets/images/gang/gokul.jpg");
}

.card-15 {
  background-image: url("./assets/images/gang/hari.png");
}
.card-16 {
  background-image: url("./assets/images/gang/nithin.jpg");
}
.card-17 {
  background-image: url("./assets/images/gang/nk.jpg");
}
.card-18 {
  background-image: url("./assets/images/gang/pavithran.jpg");
}

.card-19 {
  background-image: url("./assets/images/gang/sanjay.jpg");
}
.card-20 {
  background-image: url("./assets/images/gang/sivaprakash.png");
}
.card-21 {
  background-image: url("./assets/images/gang/vignesh.png");
}
.card-22 {
  background-image: url("./assets/images/gang/sanjayl.jpg");
}
.card-23 {
  background-image: url("./assets/images/gang/pradeep.jpg");
}
